.db--top-bar {
  background-color: $EMA-primary;
  color: $EMA-primary-contrast;
  height: px($EMA-top-bar-height);

  .--links {
    h2 {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}
