.controls--label {
  background-color: $input-bg;
  padding: $input-padding-y $input-padding-x;
  @include font-size($input-font-size);
  line-height: $input-line-height;
  border: $input-border-width solid $input-border-color;
  @include border-radius($input-border-radius, 0);
  overflow-x: scroll;
}

.controls--nested-group {
  padding: $input-padding-y $input-padding-x;
  @include font-size($input-font-size);
  border: $input-border-width solid $input-border-color;
  @include border-radius($input-border-radius, 0);
  overflow-x: scroll;
}
