
// font line-height
@each $label, $value in $font-line-heights {
  .line-#{$label} { line-height: $value; }
}

.font-14 {
  font-size: 14px !important;
}

.font-12 {
  font-size: 12px !important;
}

.lh-1_25 {
  line-height: 1.25;
}
