@mixin button-like {
  cursor: pointer;
  user-select: none;
}

.btn-xs {
  padding: 0 px-size(1);
  height: 22px;
  &.btn .b-icon.bi {
    font-size: 100%;
    display: flex;
  }
}

.button-like {
  @include button-like;
}

.control-like {
  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
}

.opacity-70 {
  opacity: 0.7;
}

.text-ema-primary {
  color: $EMA-primary;
}

.square-color {
  width: 10px;
  height: 10px;
}
