body.body-database {
  $menu-width: big-size(8);
  .page-body {
    position: relative;
    padding-left: px($menu-width);
    height: calc(100vh - #{$EMA-top-bar-height}px);
  }
  .page-menu {
    position: fixed;
    left: 0;
    top: px($EMA-top-bar-height);
    height: calc(100vh - #{$EMA-top-bar-height}px);
    width: px($menu-width);
  }
  .page-content {
    overflow-y: scroll;
    position: relative;
    height: calc(100vh - #{$EMA-top-bar-height}px);
    &.-has-submenu {
      padding-left: px($menu-width);
    }
    .page-menu {
      left: px($menu-width);
    }
  }
}
