@mixin button-like {
  cursor: pointer;
  user-select: none;
}

@import 'sizing';
@import 'font';

.button-like {
  @include button-like;
}

.control-like {
  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
}

.opacity-70 {
  opacity: 0.7;
}
