.data-table {
  .--row {
    $border-color: var(--EMA-controls);
    $header-bg-color: var(--EMA-controls);
    border: 1px solid $border-color;
    &:not(:first-child) {
      border-top-width: 0;
    }

    > div {
      border-right: 1px solid $border-color;
    }

    &.--header {
      background-color: $header-bg-color;
      > div {
        text-align: center;
      }
    }
  }
}

.data-table__text-cell {
  padding: px-size(1);
  white-space: nowrap;
  text-overflow: ellipsis;
}
