.data-table2 {
  overflow-x: scroll;
  $header-bg-color: var(--EMA-controls);

  table {
    width: 100%;
    color: $table-color;
    background-color: $table-bg;
    table-layout: fixed;

    th,
    td {
      padding: px-size(1);
      vertical-align: top;
      border: $table-border-width solid $table-border-color;
    }

    thead {
      background-color: $header-bg-color;
      th {
        border-bottom: (2 * $table-border-width) solid $table-border-color;
        > div {
          text-align: center;
        }
      }
    }
  }

  .single-row-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .three-rows-cell {
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em;
  }
}
